<div class="container">
  <div class="photos">
    <div class="img1">
      <img src="../../assets/Jeff.jpg" class="img" alt="" />
    </div>
    <div class="img2">
      <img src="../../assets/Marissa.jpg" class="img" alt="" />
    </div>
    <div class="img3">
      <img src="../../assets/Mark.jpg" class="img" alt="" />
    </div>
    <div class="img4">
      <img src="../../assets/satya.jpg" class="img" alt="" />
    </div>
    <div class="img5">
      <img src="../../assets/sundhar.jpg" class="img" alt="" />
    </div>
    <div class="img6">
      <img src="../../assets/Tim.jpg" class="img" alt="" />
    </div>
  </div>
</div>
